<div class="row infos-pratiques">
	<div class="map col-md-6 col-xs-12">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10503.386808816545!2d2.3963112!3d48.8420627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xad75d5dd7e3babcb!2sParis+Mambo+-+Ecole+de+danse+%C3%A0+Paris+12eme!5e0!3m2!1sfr!2sfr!4v1509534736888" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
	<div class="col-md-6 col-xs-12">
		<article>
			<h3 style="margin-top: 0">
				Adresse
			</h3>
			<p>
				48 Rue de la Gare de Reuilly, 75012 Paris
			</p>
			
			<h3 style="margin-top: 50px">
				Horaires
			</h3>
			<ul>
				<li>
					Gymnastique douce et stretching :<br>
					> Le mercredi de 9h00 à 10h30
				</li>
				<li>
					Gymnastique douce adaptée :<br>
					> Le mercredi de 10h30 à 11h30
				</li>
			</ul>
		</article>
	</div>
</div>